.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

input[type=text] {
    width: 16%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 8%;
    background-color: #2A2DD4;
    color: white;
    padding: 10px 14px;
    margin: 16px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 25px;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.loginForm {
    margin-top: 5%;
}

.formLabel {
    align-items: center;
    padding-right: 11%;
}

.formParagraph {
    float: left;
    margin-left: 5%;
}

.formHr {
    width: 90%;
}

.accordion {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 90%;
    border: 0.1px solid lightgrey;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-bottom: 0;
    margin-top: 4px;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\02C5';
    color: #777;
    font-weight: bold;
    float: left;
    margin-left: 5px;
    padding-right: 20px;
}

.active:after {
    content: "\005E";
}

.panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border: 0.1px solid lightgrey;
    margin-left: 5%;
    width: 90%;
}

#outer {
    background: #fff;
    text-align: center;
    font-size: 12px;
    padding-right: 20px;
    padding-left: 20px;
}

.leftBar {
    display: inline-block;
    height: 33rem;
    width: 25%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5%;
    float: left;
    background: #282c34;
    color: #fff;
    line-height: 30rem;
    font-weight: bold;
    font-size: 20px;
}

 .leftBar p {
    vertical-align: middle;
}

.rightBar {
    display: inline-block;
    height: 33rem;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5%;
    width: 55%;
    background: #fff;
    float: left;
}

.guideLinesPOne {
    float: left;
    font-weight: bold;
}

.guideLinesPTwo {
    float: right;
    margin-right: 5px;
    font-weight: bold;
}

.guideLinesText p {
    margin-top: 0;
    padding-top: 0;
}

.guideLinesText {
    margin-bottom: 3rem;
}

.hrClass {
    display: none;
}

.continueBtn {
    width: 100%;
    background-color: #282c34;
    color: white;
    padding: 10px 14px;
    margin: 16px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 25px;
}

.footerDiv {
    height: 3rem;
    background: #282c34;
    padding-top: 1rem;
    display: none;
}

.footerAnchor {
    background: #282c34;
    color: #fff;
    display: block;
    border: 0.5px solid #fff;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    height: 1rem;
    width: 50%;
    margin: auto;
    border-radius: 32px;
}

.fullscreenTitle {
    display: block;
    float: left;
}

.mobilescreenTitle {
    display: none;
}

.usernameTitle {
    display: none;
}

.logoutClass {
    height: 1.3rem;
    background: #282c34;
    padding-top: 6px;
    padding-left: 2rem;
    width: 1.2rem;
    border-radius: 18px;
    float: right;
    border: 0.5px solid #fff;
    margin-left: 28rem;
    margin-top: 1.2rem;
}

i {
    display: block;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.gg-log-out {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 10px;
    height: 16px;
    border: 2px solid;
    transform: scale(var(--ggs,1));
    border-left: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    margin-left: -10px
}

.gg-log-out::after, .gg-log-out::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
 }

.gg-log-out::after {
    border-top: 2px solid;
    border-left: 2px solid;
    transform: rotate(-45deg);
    width: 8px;
    height: 8px;
    right: 8px;
    bottom: 2px;
 }

.gg-log-out::before {
    border-radius: 3px;
    width: 10px;
    height: 2px;
    background: currentColor;
    left: -5px;
    bottom: 5px
}

.gg-play-button-r {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid;
    border-radius: 4px;
    z-index: 3;
    margin: auto;
    cursor: pointer;
}

video {
    width: 100%;
    height: 15rem;
}

.sampleImageDiv {
    width: 100%;
    height: 5rem;
}

.sampleImageDiv img {
    width: 100%;
    height: 6rem;
 }

.gg-play-button-r::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 0;
    height: 10px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 6px solid;
    top: 4px;
    left: 7px;
    z-index: 3;
}

.liText {
    text-align: justify;
}

.spanText {
    font-weight: bold;
    float: left;
}

.videoMainDiv {
    width: 100%;
    height: 15rem;
    border: 1px solid lightgrey;
}

.rightHeaderCss {
    float: right;
    margin-top: -40px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.leftHeaderCss {
    float: left;
    width: 100%;
    padding-top: 20px;
}

@media screen and (max-width: 600px) and (min-width:300px) {
    input [type=text] {
        width: 90%;
    }

    .formLabel {
        align-items: center;
        padding-left: 5%;
        float: left;
    }

    input[type=submit] {
        width: 80%;
    }

    .leftBar {
        display: none;
    }

    .rightBar {
        width: 100%;
        margin-top: 6%;
    }

    .hrClass {
        display: block;
    }

    .rightHeaderCss {
        float: right;
        margin-top: -40px;
        margin-right: 10px;
        margin-bottom: 20px;
    }

    .leftHeaderCss {
        float: left;
        width: 100%;
        padding-top: 20px;
    }

    .liText {
        padding-right: 20px;
    }

    .continueBtn {
        width: 96%;
        margin-right: 1.5rem;
    }

    .footerDiv {
        margin-right: 1rem;
        display: block;
    }

    .footerAnchor {
        width: 70%;
        font-size: 10px;
    }

    .fullscreenTitle {
        display: none;
    }

    .mobilescreenTitle {
        display: block;
        width: 80%;
        margin-left: 0;
    }

    .usernameTitle {
        display: block;
        font-weight: bold;
        font-size: 22px;
    }

    .App-header {
        width: 100%;
    }

    .titleDiv {
        width: 100%;
    }

    .guideLinesPTwo {
        margin-right: 20px;
    }

    .logoutClass {
        float: right;
    }

    .sampleImageDiv {
        margin-left: 0;
        width: 96%;
    }

    .videoMainDiv {
        width: 96%;
    }
}

@media screen and (max-width: 400px) {
    input[type=text] {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    input[type=text] {
        width: 90%;
    }
}