.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

input[type=text] {
    width: 16%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 8%;
    background-color: #2A2DD4;
    color: white;
    padding: 10px 14px;
    margin: 16px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 25px;
}

    input[type=submit]:hover {
        background-color: #45a049;
    }

.loginForm {
    margin-top: 5%;
}

.formLabel {
    align-items: center;
    padding-right: 11%;
}

.formParagraph {
    float: left;
    margin-left: 5%;
}

.formHr {
    width: 90%;
}

.mdView{
    display:block;
}

.accordion {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 90%;
    border: 0.1px solid lightgrey;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-bottom: 0;
    margin-top: 4px;
}

    .active, .accordion:hover {
        background-color: #ccc;
    }

    .accordion:after {
        content: '\02C5';
        color: #777;
        font-weight: bold;
        float: left;
        margin-left: 5px;
        padding-right: 20px;
    }

.accordionE {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 97%;
    border: 0.1px solid lightgrey;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-bottom: 0;
    margin-top: 4px;
}

    .active, .accordionE:hover {
        background-color: #ccc;
    }

    .accordionE:after {
        color: #777;
        font-weight: bold;
        float: left;
        margin-left: 5px;
        padding-right: 20px;
    }

.active:after {
    content: "\005E";
}

.panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border: 0.1px solid lightgrey;
    margin-left: 5%;
    width: 90%;
}

.panelE {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border: 0.1px solid lightgrey;
    margin-left: 1.5%;
    width: 97%;
    height:55rem;
}

#outer {
    background: #fff;
    text-align: center;
    font-size: 12px;
    padding-right: 20px;
    padding-left: 20px;
}

.leftBar {
    display: inline-block;
    height: 33rem;
    width: 25%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5%;
    float: left;
    background: #282c34;
    color: #fff;
    line-height: 30rem;
    font-weight: bold;
    font-size: 20px;
}

    .leftBar p {
        vertical-align: middle;
    }

.rightBar {
    display: inline-block;
    height: 33rem;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5%;
    width: 55%;
    background: #fff;
    float: left;
}

.refCss{
    width:35%;
    height:21rem;
    background-color:#fff;
    z-index:1000000 !important;
    position: fixed;
   margin-left:50rem;
   border : 1px solid lightgrey;
}
.reportCss {
    width: 25%;
    height: 10rem;
    background-color: #fff;
    z-index: 1000000 !important;
    position: fixed;
    margin-left: 50rem;
    border: 1px solid lightgrey;
}

.refPcss {
    font-weight: bold;
    float: left;
    padding-left: 20px;
}

.refp{
    height:24px;
    font-weight:bold;
}

.refDiv{
    width:100%;
}

.

.refImg{
    width:16px;
    height:16px;
    float:right;
}
.guideLinesPOne {
    float: left;
    font-weight: bold;
}

.guideLinesPTwo {
    float: right;
    margin-right: 5px;
    font-weight: bold;
}

.guideLinesText p {
    margin-top: 0;
    padding-top: 0;
}

.guideLinesText {
    margin-bottom: 3rem;
}

.hrClass {
    display: none;
}

.continueBtn {
    width: 100%;
    background-color: #282c34;
    color: white;
    padding: 10px 14px;
    margin: 16px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 25px;
}

.footerDivMobile {
    display: none;
}

.footerDivDesktop {
    display: block;
    height: 1rem;
    background: #282c34;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.footerAnchorMobile {
    background: #282c34;
    color: #fff;
    display: none;
    border: 0.5px solid #fff;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    height: 1rem;
    width: 50%;
    margin: auto;
    border-radius: 32px;
}

.footerAnchorDesktop {
    background: #282c34;
    color: #fff;
    display: block;
    border: 0.5px solid #fff;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    height: 1rem;
    width: 20%;
    margin: auto;
    float: right;
    margin-right: 7rem;
    border-radius: 32px;
}

.footerDivSpan {
    display: block;
    margin-left: 10rem;
    float: left;
    color: #fff;
}

.fullscreenTitle {
    display: block;
    float: left;
}

.mobilescreenTitle {
    display: none;
}

.usernameTitle {
    display: none;
}

.logoutClass {
    height: 1.3rem;
    background: #282c34;
    padding-top: 6px;
    padding-left: 2rem;
    width: 1.2rem;
    border-radius: 18px;
    float: right;
    border: 0.5px solid #fff;
    margin-left: 28rem;
    margin-top: 1.2rem;
}

i {
    display: block;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.gg-log-out {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 10px;
    height: 16px;
    border: 2px solid;
    transform: scale(var(--ggs,1));
    border-left: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    margin-left: -10px
}

    .gg-log-out::after, .gg-log-out::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute
    }

    .gg-log-out::after {
        border-top: 2px solid;
        border-left: 2px solid;
        transform: rotate(-45deg);
        width: 8px;
        height: 8px;
        right: 8px;
        bottom: 2px;
    }

    .gg-log-out::before {
        border-radius: 3px;
        width: 10px;
        height: 2px;
        background: currentColor;
        left: -5px;
        bottom: 5px
    }

.gg-play-button-r {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid;
    border-radius: 4px;
    z-index: 3;
    margin: auto;
    cursor: pointer;
}

video {
    width: 100%;
    height: 15rem;
}

.sampleImageDiv {
    width: 100%;
    height: 5rem;
}

    .sampleImageDiv img {
        width: 100%;
        height: 6rem;
    }

.gg-play-button-r::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 0;
    height: 10px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 6px solid;
    top: 4px;
    left: 7px;
    z-index: 3;
}

.liText {
    text-align: justify;
}

.spanText {
    font-weight: bold;
    float: left;
}

.videoMainDiv {
    width: 100%;
    height: 15rem;
    border: 1px solid lightgrey;
}

.rightHeaderCss {
    float: right;
    margin-top: -40px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.leftHeaderCss {
    float: left;
    width: 100%;
    padding-top: 20px;
}

.mobileDashboardView {
    display:none;
}

.optionsCss{
    z-index:99;
}

.podCss {
    z-index: 10000000 !important;
    position:fixed;
}

#box p:hover {
    background-color: lightgrey;
    cursor: pointer;
}

@media screen and (max-width: 600px) and (min-width:300px) {
    input [type=text] {
        width: 90%;
    }

    .mobileDashboardView {
        display: block;
    }

    .mdView {
        display: none;
    }

    .formLabel {
        align-items: center;
        padding-left: 5%;
        float: left;
    }

    input[type=submit] {
        width: 80%;
    }

    .leftBar {
        display: none;
    }

    .rightBar {
        width: 100%;
        margin-top: 6%;
    }

    .hrClass {
        display: block;
    }

    .rightHeaderCss {
        float: right;
        margin-top: -40px;
        margin-right: 10px;
        margin-bottom: 20px;
    }

    .leftHeaderCss {
        float: left;
        width: 100%;
        padding-top: 20px;
    }

    .liText {
        padding-right: 20px;
    }

    .continueBtn {
        width: 96%;
        margin-right: 1.5rem;
    }

    .footerDivMobile {
        height: 3rem;
        background: #282c34;
        padding-top: 1rem;
        display: none;
        margin-right: 1rem;
        display: block;
    }

    .footerDivDesktop {
        display: none;
    }

    .footerAnchorMobile {
        width: 70%;
        font-size: 10px;
        display: block;
    }

    .footerAnchorDesktop {
        display: none;
    }

    .fullscreenTitle {
        display: none;
    }

    .mobilescreenTitle {
        display: block;
        width: 80%;
        margin-left: 0;
    }

    .usernameTitle {
        display: block;
        font-weight: bold;
        font-size: 22px;
    }

    .App-header {
        width: 100%;
    }

    .titleDiv {
        width: 100%;
    }

    .guideLinesPTwo {
        margin-right: 20px;
    }

    .logoutClass {
        float: right;
    }

    .sampleImageDiv {
        margin-left: 0;
        width: 96%;
    }

    .videoMainDiv {
        width: 96%;
    }
}

@media screen and (max-width: 400px) {
    input[type=text] {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    input[type=text] {
        width: 90%;
    }
}


.manageBtn {
    width: 10rem;
    height: 1.6rem;
    border: 1px solid lightgrey;
    background-color: #fff;
    color: blue;
    padding-top: 10px;
    float: left;
    margin-left: 2rem;
    cursor:pointer;
}

.reportBtn, .saveBtn{
    height: 1.6rem;
    border: 1px solid lightgrey;
    background-color: dodgerblue;
    color: white;
    padding-top: 10px;
    float: left;    
    border-radius: 20px;
    cursor: pointer;
}

.closeBtn {
    height: 1.4rem;
    border: 1px solid lightgrey;
    background-color: dodgerblue;
    color: white;
    padding-top: 7px;
    float: left;
    border-radius: 20px;
    cursor: pointer;
    width: 4rem;
    text-align:center;
    margin-right: 2.8rem;
}

.downloadRptBtn {
    height: 1.4rem;
    border: 1px solid lightgrey;
    background-color: dodgerblue;
    color: white;
    padding-top: 7px;
    float: left;
    border-radius: 20px;
    cursor: pointer;
    width: 7rem;
    text-align: center;
    margin-right: 2rem;
}

.cancelBtn {
    height: 1.4rem;
    border: 1px solid grey;
    background-color: white;
    color: dodgerblue;
    padding-top: 7px;
    float: right;
    border-radius: 20px;
    cursor: pointer;
    width: 5rem;
    text-align: center;
    margin-left: 8rem;
}

.reportBtn {
    width: 10rem;
    margin-left: 2rem;
}

.saveBtn {
    width: 90%;
    margin-top: 1rem;
    margin-left: 0.7rem;
}

.divClass {
    color: #555;
    display: flex;
    padding: 2px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 43%;
    float: left;
    margin-left:2rem;
    background-color:#fff;
}

input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
    width:100%;
}

    input[type="search"]::placeholder {
        color: #bbb;
    }

.button {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
}

    button:hover {
        opacity: 1;
    }

    button:focus,
    input[type="search"]:focus {
        box-shadow: 0 0 3px 0 #1183d6;
        border-color: #1183d6;
        outline: none;
    }

.navPCss {
    text-align:left;
    padding-left:14px;
    margin-bottom:5px;
}

.navDDCss {
    width:90%;
    height:2rem;
}

.groupDDCss {
    width: 30%;
    height: 13rem;
    border: 1px solid black;
    background-color: #fff;
    z-index: 10000000 !important;
    position: fixed;
    margin-left: 14rem;
}

.groupDDCss li:hover {
    background-color: lightgrey;
    cursor:pointer;
}


    select > option {
        height: 50px;
    }

.liClass {
    padding-left: 10px;
    height: 30px;
    list-style: none;
    text-align: left;
}

.tableClass{
    width:100%;
}

.theadClass {
    background-color: #F8F9FC;
    height:2rem;
}

.theadClass tr th {
    border-bottom: 1px solid lightgrey;
}

.calendarClass {
    width:99%;
    height:3rem;
}

.tbodyClass tr td {
    font-weight:bold;
}

.theadp1{
    margin-right:3.2rem;
}

.theadp2 {
    margin-right: 12rem;
}

.theadp3 {
    margin-right: 9rem;
}

.tbodyp1 {
    margin-right: 6.6rem;
}

.tbodyp2 {
    margin-right: 11.8rem;
}

.tbodyp3 {
    margin-right: .8rem;
}